*.4ct
*.4tc
*.aux
*.auxlock
*.bak
*.bbl
*.blg
*.bll
*.css
*.dep
*.docx
*.dot
*.dpth
*.dvi
*.eps
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.html
*.idv
*.lg
*.lof
*.log
*.lot
*.md5
*.nav
*.out
*.pdf
*.png
*.snm
*.svg
*.tex~
*.tmp
*.toc
*.vrb
*.xdy
*.xref
*.zip
